@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --breakpoint-xxs: 20rem;
    --breakpoint-xs: 22.5rem;
    --breakpoint-s: 24.375rem;
    --font-montserrat: Montserrat, serif;
}

* {
    @apply font-montserrat text-slate-300;
}

#search-date-app {
    @apply h-screen w-full flex flex-col justify-between py-5 items-center bg-[#030712];
}

.search-date-title {
    @apply w-full hidden xxs:flex gap-2.5 flex-col justify-center items-center;
}

.search-date-title h1 {
    @apply font-bold xxs:text-3xl md:text-4xl;
}

.search-date-title p {
    @apply md:w-[55%] xxs:w-[85%] xxs:text-justify lg:text-center lg:hyphens-none xxs:hyphens-auto xxs:leading-5 font-semibold text-[1rem] text-center;
}

.search-date {
    @apply h-[50%] lg:w-[40%] md:w-[55%] sm:w-[75%] s:w-[85%] xxs:w-[95%] border border-slate-700 shadow-2xl hidden xxs:flex flex-col justify-evenly items-center rounded-3xl bg-[rgba(221,220,232,0.1)] overflow-hidden;
}

.search-date-component {
    @apply h-[60%] sm:w-[90%] xxs:w-[95%] flex flex-col justify-evenly items-start;
}

.search-date-to-future {
    @apply flex justify-center items-center;
}

.search-date-to-future label {
    @apply font-bold text-sm;
}

.search-date-to-past {
    @apply flex justify-center items-center;
}

.search-date-to-past label {
    @apply font-bold text-sm;
}

.search-date-number {
    @apply w-full flex gap-3.5 justify-evenly items-center;
}

.search-date-input {
    @apply w-full flex justify-around xxs:gap-3 items-center;
}

.search-date-input label {
    @apply font-bold text-sm;
}

input[type="text"] {
    @apply border shadow border-slate-300 outline-0 px-1 h-9 w-[30%] rounded-md text-center font-bold;
}

.button-search-date-text {
    @apply group-hover:text-slate-400 transition-colors ease-in-out duration-250
}

.button-search-date-text {
    @apply font-montserrat font-bold text-slate-300;
}

.search-date-result {
    @apply h-[40%] w-full border-t border-t-slate-700 shadow-2xl flex flex-col gap-1.5 justify-center items-center;
}

.search-date-result-days-info {
    @apply w-[90%] text-center text-[1rem] hyphens-auto font-bold;
}

.search-date-result-date-info {
    @apply w-[90%] text-center text-2xl hyphens-auto font-bold;
}

footer {
    @apply w-full hidden xxs:flex justify-center items-center text-center text-[0.8rem] font-bold;
}